<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="hoomanlogicEntities" connectionString="metadata=res://HoomanLogic.Data/Ef.EfHoomanLogic.csdl|res://HoomanLogic.Data/Ef.EfHoomanLogic.ssdl|res://HoomanLogic.Data/Ef.EfHoomanLogic.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=basil.arvixe.com;initial catalog=hoomanlogic;persist security info=True;user id=gmanning;password=H00manL0g1c@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="SmtpHost" value="mail.hoomanlogic.com" />
    <add key="SmtpSsl" value="false" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpAccount" value="musheen@hoomanlogic.com" />
    <add key="SmtpPassword" value="Mu5h33nh3@d5!" />
  </appSettings>
</configuration>