<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\errl\src\server\packages.config" />
  <repository path="..\src\Data\packages.config" />
  <repository path="..\src\server\packages.config" />
  <repository path="..\src\Worker\packages.config" />
  <repository path="C:\dev\ShippingLabels\src\Mets.ShippingLabels\packages.config" />
</repositories>