.notifications {
    list-style: none;
    padding: 0;
}

.notifications > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: normal;
  font-size: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.notification {
  font-size: 100%;
  font-weight: bold;
}

.notification.read {
  font-style: italic;
  font-weight: normal;
}

.notify-badge {
  display: inline;
  position: relative;
  top: -10px;
  left: -25px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin-right: -10px;
}